@charset "utf-8";
/* ---------------------------- Custom CSS ------------------------------------- */

body {
	min-height: 600px;
	padding-top: 76px;
}

.banner {
	margin-bottom: 40px;
	padding-top: 20px;
	min-height: 300px;
	background-color: #eee;
	background-image: url(../img/banner_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.banner h1 {
	font-size: 50px;
}

.main-content {
	padding-bottom: 60px;
}

.item {
	padding: 10px;
}

.item-link {
	font-size: 20px;
    background-color: #eee;
    border: 0;
}

.item-content {
	background-color: #eee;
	padding: 1px 10px 25px 15px;
	min-height: 370px;
}

.item-tag {
	margin-top: 50px;
}

.item-ongo {
	margin-top: 30px;
}

.work-item {
	padding-bottom: 40px;
}

.work-item-ls {
	margin-bottom: 50px;
}

.title-wrapper {
	text-align: center;
}

.ready-title {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.row-ready {
	padding-bottom: 80px;
}

.footer {
	margin-top: 30px;
	padding: 40px 0px 0px 0px;
	min-height: 160px;
	background-color: #eee;
	text-align: center;
}

.footer > p {
	margin-bottom: 0;
}

/* ------------------------- Override Bootstrap core CSS ------------------------- */

.navbar {
	margin-bottom: 0;
}

.modal-body {
	text-align: center;
}

.tab-content {
	padding: 20px;
	min-height: 300px !important;
}

.well {
	border: 0;
    border-radius: 0;
    background-color: #34495E;
    margin-top: 40px;
}