@charset "utf-8";
/* ---------------------------- Custom CSS ------------------------------------- */

body {
	min-height: 780px;
	height: 100%;
}

.header {
	position: relative;
}

.logo-right {
	position: absolute;
	right: 0;
	top: 50px;
}

.logo-right > ul {
	list-style: none;
}

.logo-right > ul > li {
	display: inline-block;
}

.logo-right > ul > li:nth-child(1) {
	padding-right: 5px;
	border-right: 1px solid #06F;
}

.logo img {
	height: 80px;
	width: 120px;
}

.footer {
	padding-top: 50px;
	background-color: #CCC;
}

.login-hint {
	padding: 7px 15px 0px 58px;
}

.login-hint > h2 {
	padding-bottom: 10px;
}

.product-img img{
	width: 100%;
}

.product-panel {
}

.product-panel > ul {
	text-align: center;
}

.product-panel > ul > li {
	padding-top: 10px;
	padding-bottom: 20px;
}

.more-button {
	text-align: center;
}

.cat-info {
	
}
.cat-item {
	padding: 0;
}

.cat-left {
	padding-top: 12px;
}

.item-wrapper {
	border-left: 1px solid #ddd;
}

.item-marker {
	position: absolute;
	top: 3px;
	left: 5px;
}

/* ------------------------- Override Bootstrap core CSS ------------------------- */

.jumbotron-botton {
	max-height: 350px;
	text-align: center;
}

.jumbotron {
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
	color: #F90;
}

.jumbotron p {
	color: #996633;
}

.form-control {
	width: 100%;
}

.tab-content {
	min-height: 300px;
	padding-top: 30px;
	padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.thumbnail h3 {
	text-align: center;
}
